<!DOCTYPE html>
<html>
<head>
    <title>Zutat hinzufügen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        /* Füge hier dein eigenes CSS hinzu, um das Design anzupassen */
        body {
            padding-top: 60px;
        }
        .container {
            max-width: 500px;
        }
        .form-group {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Zutat hinzufügen</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_img">Bild</label>
                <input type="file" class="form-control-file" accept="image/*" capture="camera" name="img" id="id_img" required>
            </div>
            <div class="form-group">
                <label for="id_description">Beschreibung</label>
                <textarea name="description" class="form-control" id="id_description" rows="5" required></textarea>
            </div>
            <div class="form-group">
                <label for="id_mhd">Mindesthaltbarkeitsdatum</label>
                <input type="date" class="form-control" name="mhd" id="id_mhd" required>
            </div>
            <div class="form-group">
                <label for="id_quantity">Anzahl</label>
                <input type="number" class="form-control" name="quantity" id="id_quantity"  min="1" max="100" value="1" required>
            </div>
            <div class="form-group">
				<label>Tags</label>
                <input type="text" data-role="tagsinput" class="form-control" name="tags">
				<select id="tags" name="tags" multiple>
                    {% for tag in used_tags %}
                        <option value="{{ tag.name }}">{{ tag.name }}</option>
                    {% endfor %}
                </select>
			<div>
            <button type="submit" class="btn btn-primary btn-block">Zutat hinzufügen</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

</body>
</html>
