{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
  <script>
    $(document).ready(function() {
      var availableIngredients;

      // AJAX-Anfrage, um verfügbare Zutaten abzurufen
      $.ajax({
        url: '/getIngredients/', // Stellen Sie sicher, dass die URL korrekt ist
        method: 'GET',
        dataType: 'json',
        success: function(response) {
          // Daten erfolgreich abgerufen
          availableIngredients = response.ingredients;
          // Konfigurieren Sie die Autovervollständigung für die "ingredient-description" TextArea
          $('#ingredient-description').autocomplete({
            source: availableIngredients,
            select: function(event, ui) {
              // Wenn eine Zutat ausgewählt wird, setzen Sie den Namen in die TextArea
              $('#ingredient-description').val(ui.item.value);
              return false;
            }
          });

          // Zuletzt verwendete Ingredients (Beispielwerte)
          var recentIngredients = availableIngredients;
          console.log(recentIngredients)
          // Elemente für die zuletzt verwendeten Ingredients erstellen und anzeigen
          var recentIngredientsList = $('#recent-ingredients');
          for (var i = 0; i < recentIngredients.length; i++) {
            var ingredient = recentIngredients[i];
            var listItem = $('<li>').text(ingredient);
            listItem.on('click', function() {
              var ingredientText = $(this).text();
              $('#ingredient-description').val(ingredientText);
            });
            recentIngredientsList.append(listItem);
          }

        },
        error: function(xhr, status, error) {
          // Fehler beim Abrufen der Daten
          console.log('Fehler beim Abrufen der Zutaten:', error);
        }
      });

      
    });

    // Funktion zum Hinzufügen eines neuen Schritts
    function addStep() {
      var newStep = `
      <div id="steps-container" class="mb-3">
        <div class="step">
          <label for="step-headline" class="form-label">Schritt:</label>
          <input type="text" name="step_headline" class="form-control step-headline"></input>
  
          <label for="step-description" class="form-label">Beschreibung</label>
          <textarea name="step_description" class="form-control step-description"></textarea>
  
          <label for="steps-image" class="form-label">Bild:</label>
          <input type="file" name="step_img" id="steps-image" class="form-control" accept="image/*" >
        </div>
      </div>
      `;
      $('#steps-container').append(newStep);
    }

    function addIngredient() {
      var newIngredient = `
      <div id="ingredient-container" class="mb-3">
        <div class="ingredient_list">
          <label for="ingredient-description" class="form-label">Zutat:</label>
          <input type="text" name="ingredient_description" id="ingredient-description" class="form-control"></input>
  
          <label for="ingredient-quantity" class="form-label">Anzahl:</label>
          <input type="number" name="ingredient_quantity" id="ingredient-quantity" class="form-control" min="1" max="100" value="1">
  
          <label for="ingredient-weight" class="form-label">Gewicht:</label>
          <input type="number" name="ingredient_weight" id="ingredient-weight" class="form-control" min="0" max="10000" value="0">
        </div>
      </div>
      `;
      $('#ingredient-container').append(newIngredient);
    }

    // Funktion zum Entfernen eines Schritts
    function removeStep(button) {
      $(button).parent().remove();
    }
  </script>
</head>
<body>
<div class="container mt-4">
  <h1 class="mb-4">Rezept erstellen</h1>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    
    <div class="mb-3">
      <label for="recipe-name" class="form-label">Rezeptname:</label>
      <input type="text" name="recipe_name" id="recipe-name" class="form-control" required>
    </div>
    
    <div class="mb-3">
      <label for="recipe-description" class="form-label">Beschreibung:</label>
      <textarea name="recipe_description" id="recipe-description" class="form-control" required></textarea>
    </div>
    
    <div class="mb-3">
      <label for="recipe-image" class="form-label">Bild:</label>
      <input type="file" name="recipe_image" id="recipe-image" class="form-control" accept="image/*" required>
    </div>
    
    <h2>Zutaten:</h2>
    <div id="ingredient-container" class="mb-3">
      <div class="ingredient_list">
        <label for="ingredient-description" class="form-label">Zutat:</label>
        <input type="text" name="ingredient_description" id="ingredient-description" class="form-control"></input>

        <label for="ingredient-quantity" class="form-label">Anzahl:</label>
        <input type="number" name="ingredient_quantity" id="ingredient-quantity" class="form-control" min="1" max="100" value="1">

        <label for="ingredient-weight" class="form-label">Gewicht:</label>
        <input type="number" name="ingredient_weight" id="ingredient-weight" class="form-control" min="0" max="10000" value="0">
      </div>
    </div>
    <button type="button" onclick="addIngredient()" class="btn btn-primary mb-3">Zutat hinzufügen</button>

    <h2>Zuletzt verwendete Zutaten:</h2>
    <ul id="recent-ingredients" class="mb-3">
      <!-- Hier werden die zuletzt verwendeten Ingredients eingefügt -->
    </ul>

    <h2>Schritte:</h2>
    <div id="steps-container" class="mb-3">
      <div class="step">
        <label for="step-headline" class="form-label">Schritt:</label>
        <input type="text" name="step_headline" class="form-control step-headline"></input>

        <label for="step-description" class="form-label">Beschreibung</label>
        <textarea name="step_description" class="form-control step-description"></textarea>

        <label for="steps-image" class="form-label">Bild:</label>
        <input type="file" name="step_img" id="steps-image" class="form-control" accept="image/*" >
      </div>
    </div>
    <button type="button" onclick="addStep()" class="btn btn-primary mb-3">Schritt hinzufügen</button>
    
    <button type="submit" class="btn btn-success">Rezept speichern</button>
  </form>
</div>
</body>
</html>

{% endblock %}
