

<!DOCTYPE html>
<html>
<head>
    <title>Klassifizierungen</title>
</head>
<body>
    <h1>Verfügbare Klassifizierungen</h1>
    <ul>
    {% for class in AvailableClassNames %}
        <li>{{ class }}</li>
    {% endfor %}
    </ul>

    <form method="post" action="{% url 'train_network' %}">
        {% csrf_token %}
        <button type="submit">Neuronales Netz trainieren</button>
    </form>

    {% if success %}
    <p>Aktion erfolgreich ausgeführt.</p>
    {% elif success == "Error" %}
        <p>Es ist ein Fehler aufgetreten.</p>
    {% endif %}
</body>
</html>