{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
  {% if success == "true" %}
    <div class="alert alert-success" role="alert">
      Die Zutaten wurden erfolgreich gelöscht.
    </div>
  {% endif %}

  <h1>{{ recipe.headline }}</h1>
  <img src="{{ recipe.img.url }}" alt="{{ recipe.headline }}" class="img-fluid">

  <p>{{ recipe.description }}</p>

  <h2>Zutaten:</h2>
  <ul class="list-unstyled">
    {% for ingredient in recipe.ingredients.all %}
      <li>{{ ingredient.description }}</li>
    {% endfor %}
  </ul>

  <h2>Zubereitung:</h2>
  {% for step in recipe.recipe_steps.all %}
  <div>
    {% if step.recipe_step_img %}
      <img src="{{ step.recipe_step_img.url }}" alt="Schritt {{ forloop.counter }}" class="img-fluid">
    {% endif %}
    <p>{{ step.recipe_step_description }}</p>
  </div>
{% endfor %}


  {% if all_ingredients_available == "true" %}
    <form id="delete-form" action="{% url 'cooked_recipe' recipe.id %}" method="POST">
      {% csrf_token %}
      <div class="delete-button">
        <button type="submit" class="btn btn-danger">
          <i class="fas fa-trash"></i>
        </button>
      </div>
    </form>
  {% endif %}
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script>
  window.addEventListener('DOMContentLoaded', function() {
    var popup = document.getElementById('success-popup');
    var success = '{{ success }}';
    console.log(success);
    if (popup) {
      popup.style.display = 'block';
      setTimeout(function() {
        popup.style.display = 'none';
      }, 3000);  // Das Popup nach 3 Sekunden ausblenden (3000 Millisekunden)
    }
  });
</script>
</body>
</html>
{% endblock %}

